---
import Layout from '../../layouts/Layout.astro'

export async function getStaticPaths() {
  const movies = await fetch(
    `https://api.themoviedb.org/3/trending/movie/day?api_key=${import.meta.env.API_KEY}`,
  ).then((res) => res.json())
  
  return movies.results.map((el: any) => ({
    params: {
      slug: el.id,
    },
  }))
}
const { slug } = Astro.params
const data = await fetch(`https://api.themoviedb.org/3/movie/${slug}?api_key=${import.meta.env.API_KEY}&language=en-US`).then(
  (res) => res.json(),
)
console.log(data);
console.log(data.production_companies[0].name);

---

<Layout title={data?.title}>
  <section class="grid grid-cols-7 gap-3 pt-24">
    <div class="col-start-2">
      <img class="aspect-[2/3]" src={`https://image.tmdb.org/t/p/original${data.poster_path}`} alt="" />
    </div>
    <div class="col-start-4 col-span-3">
      <h2>{data.title}</h2>
      <p>{data.overview}</p>
      <p>{data.production_companies[0].name}</p>
      <p>{data.production_companies[1]?.name}</p>
      <p>{data.production_companies[2]?.name}</p>
    </div>
  </section>
</Layout>
