---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import {API_KEY} from '../apikey';
import Navigation from '../components/generic/Navigation.astro';
import Header from '../components/generic/Header.astro';

let nextPage = 1;

const topRated = await fetch(
  `https://api.themoviedb.org/3/movie/top_rated?api_key=${API_KEY}&page=${nextPage}`,
).then((res) => res.json())

---

<Layout title="Best movies">
  <Header />  
  <main class="m-12 items-center justify-center">  
    <h2 class="text-2xl font-bold mb-6">Best movies ever
    </h2>
    <ul role="list" class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-4">
      {
        topRated.results.map((movie: any) => {
          return (
            <Card
              id={movie.id}
              title={movie.title}
              original_language={movie.original_language}
              poster_path={movie.poster_path}
              vote_average={movie.vote_average}
              vote_count={movie.vote_count}
            />
          )
        })
      }
    </ul>
  </main>
</Layout>
