---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import {API_KEY} from '../apikey';
import Header from '../components/generic/Header.astro';
import Footer from '../components/generic/Footer.vue';

let page = 1;

const nowPlaying = await fetch(
  `https://api.themoviedb.org/3/movie/now_playing?api_key=${API_KEY}&page=${page}`,
).then((res) => res.json())

---

<Layout title="Now playing">
  <Header />  
  <main class="m-12 mb-20 items-center justify-center">  
    <h2 class="text-2xl font-bold text-purple-900 mb-6">Movies that you can watch now
    </h2>
    <ul role="list" class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-4">
      {
        nowPlaying.results.map((movie: any) => {
          return (
            <Card
              id={movie.id}
              title={movie.title}
              original_language={movie.original_language}
              poster_path={movie.poster_path}
              vote_average={movie.vote_average}
              vote_count={movie.vote_count}
            />
          )
        })
      }
    </ul>
  </main>
  <Footer />
</Layout>
