---
import Layout from '../layouts/Layout.astro'
import {API_KEY} from '../apikey';
import Header from '../components/generic/Header.astro';
import Footer from '../components/generic/Footer.vue';

const latestMovie = await fetch(`https://api.themoviedb.org/3/movie/latest?api_key=${API_KEY}`).then((res) => res.json())
---

<Layout title="Home">
  <Header />
  <main class="m-12 mb-28 items-center justify-center">
    <h1 class="text-2xl font-bold text-purple-900 mb-6">Latest release</h1>
    <section class="sm:grid grid-cols-7 gap-3 pt-4 flex flex-col">
    <div class="col-start-2">
      <img
        class="aspect-[2/3]"
        src={`${
          latestMovie.poster_path
            ? `https://image.tmdb.org/t/p/original${latestMovie.poster_path}`
            : '/placeholder_movie.svg'
        }`}
        alt={`${latestMovie.poster_path}`}
      />
    </div>
    <div class="col-start-4 col-span-3">
      <h1 class="text-4xl">
        {latestMovie.title}
      </h1>
      <p class=""><strong>language: </strong>{latestMovie.original_language}</p>
      <h2 class="text-2xl">Overview</h2>
      <p>{latestMovie.overview}</p>
      <div>
        <ul class="flex flex-column">
          {latestMovie.production_companies.map((el: any) => (
            <li class="mr-3">{el.name}</li>
          ))}
        </ul>
      </div>
      <div>
        <ul class="flex flex-column">
          {latestMovie.genres.map((el: any) => (
            <li class="mr-3">{el.name}</li>
          ))}
        </ul>
      </div>
    </div>
  </section>
</main>
<Footer />
</Layout>
