---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
const firstPageMovies = await fetch(
  `https://api.themoviedb.org/3/trending/movie/day?api_key=${import.meta.env.API_KEY}`,
).then((res) => res.json())
const secondPageMovies = await fetch(
  `https://api.themoviedb.org/3/trending/movie/day?api_key=${import.meta.env.API_KEY}&page=2`,
).then((res) => res.json())

console.log(firstPageMovies)
console.log("secondPageMovies")
console.log(secondPageMovies);

---

<Layout title="Popular movies">
  <main class="w-2/4 m-12 items-center justify-center">
    <h2 class="text-2xl font-bold mb-6">Popular Movies</h2>
      <ul role="list" class="grid grid-cols-5 gap-80 m-[70px auto]">
      {
        firstPageMovies.results.map((movie: any) => {
          return (
            <Card
              id={movie.id}
              title={movie.title}
              original_language={movie.original_language}
              poster_path={movie.poster_path}
            />
          )
        })
      }
      {
        secondPageMovies.results.map((movie: any) => {
          return (
            <Card
              id={movie.id}
              title={movie.title}
              original_language={movie.original_language}
              poster_path={movie.poster_path}
            />
          )
        })
      }
    </ul>
  </main>
</Layout>