---
export interface Props {
  id: number
  poster_path: string
  title: string
  original_language: string
}
const { id, title, original_language, poster_path } = Astro.props
---

<li class="h-auto list-none w-64 rounded-xl shadow-2xl">
  <a href={`movie/${id}`}>
    <img
      src={`https://image.tmdb.org/t/p/original${poster_path}`}
      alt="{name}"
    />
    <div class="p-2">
      <h3 class="text-3xl">{title}</h3>
      <p class="ml-3"><strong>language:</strong>{original_language}</p>
    </div>
  </a>
</li>
