---
export interface Props {
  id: number
  poster_path: string
  title: string
  original_language: string
  vote_average: number
  vote_count: number
}
const { id, title, original_language, poster_path, vote_average, vote_count } = Astro.props

function imageIsNull()
 {
   if (poster_path === null) {
     return '/placeholder_movie.svg'
   } else {
     return `https://image.tmdb.org/t/p/original${poster_path}`
   }
 }

 function getColor() {
    if(vote_average >= 8){
        return 'text-green-500'
    }else if(vote_average >= 5){
        return "text-yellow-500"
    }else{
        return 'text-red-500'
    }
}
---

<li class="h-auto list-none rounded-xl shadow-2xl">
  <a href={`movie/${id}`}>
    <img
      class="aspect-[2/3]"
      src={`${imageIsNull()}`}
      alt="{title}"
    />
    <div class="p-2">
      <h3 class="text-2xl">{title}</h3>
      <p class=""><strong>language: </strong>{original_language}</p>
      <p><strong class={`${getColor()}`}>rating: {vote_average}</strong> ({vote_count})</p>
    </div>
  </a>
</li>